#count {
    font-size: 6em;
    margin-left: 50%
}

#img {
    width: 1024px;
    height: 600px;
}

body {
    margin: 0;
}

button {
    background: #ececec;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dadada));
    background: -webkit-linear-gradient(top, #ececec 0%,#dadada 100%);
    background: linear-gradient(top, #ececec 0%,#dadada 100%);
    border: 1px solid #ababab;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    color: #707070;
    font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    outline: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
}
